$color-brand-orange: #D87D4A;
$color-brand-orange-light: #FBAF85;
$color-brand-black: #101010;
$color-brand-gray: #F1F1F1;
$color-brand-gray-light: #FAFAFA;

$color-white: #FFFFFF;
$color-black: #000000;